Repository Miqhtiedev/rock-collecting-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext ts, prettier --write, pnpm prisma format

feat: setprefix command
  src/commands/setprefix.ts
Due: eslint --fix --ext ts

feat: vscode snippet for creating commands
  .vscode/snippets.code-snippets
Due: none

fix: make ping command not administrator only
  src/commands/ping.ts
Due: eslint --fix --ext ts

feat: join leave messages
  .vscode/snippets.code-snippets
  prisma/schema.prisma
  src/client/command.ts
  src/client/transform.ts
  src/commands/ping.ts
  src/commands/setjoin/channel.ts
  src/commands/setjoin/message.ts
  src/commands/setleave/channel.ts
  src/commands/setleave/message.ts
  src/events/guildMemberAdd.ts
  src/events/guildMemberRemove.ts
  src/events/message.ts
  src/index.ts
  src/utils/checkCommandConditions.ts
  src/utils/formatWelcomeMessage.ts
  src/utils/getCommand.ts
  src/utils/parseChannel.ts
  typings/discord.js.d.ts
Due: eslint --fix --ext ts, pnpm prisma format

feat: join roles
  prisma/schema.prisma
  src/commands/setjoin/role.ts
  src/events/guildMemberAdd.ts
  src/utils/parseRole.ts
Due: eslint --fix --ext ts, pnpm prisma format

feat: leveling
  package.json
  prisma/schema.prisma
  src/commands/level/role/add.ts
  src/commands/level/role/remove.ts
  src/commands/level/self.ts
  src/commands/test.ts
  src/events/executeCommand.ts
  src/events/grantLevelingExperience.ts
  src/events/sendLeaveMessage.ts
  src/events/sendWelcomeMessage.ts
  src/utils/calculateLevel.ts
Due: eslint --fix --ext ts, prettier --write, pnpm prisma format

fix: remove test command
  src/commands/test.ts
Due: eslint --fix --ext ts

fix: git hooks not executable by default on linux systems
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix: error when persons first message is level command
  src/commands/level/self.ts
Due: eslint --fix --ext ts

feat: toggle level up messages
  prisma/schema.prisma
  src/commands/level/self.ts
  src/commands/level/togglemessage.ts
  src/events/grantLevelingExperience.ts
Due: eslint --fix --ext ts, pnpm prisma format

fix: use server prefix in level message
  src/commands/level/self.ts
Due: eslint --fix --ext ts

Path conditions:
  eslint --fix --ext ts: any of: *.ts
  prettier --write: any of: *.{json,md}
  pnpm prisma format: any of: *.prisma
